services:
  {{ project_name }}:
    build:
      context: .
    ports:
      - "{{ services.app.external_port }}:{{ services.app.internal_port }}"
    env_file:
      - {{ services.app.env_file }}
    depends_on:
{% if services.db.enabled and not services.db.external %}
      - db-{{ project_name }}
{% endif %}
      - redis-{{ project_name }}
{% if network.enabled %}
    networks:
      - {{ network.name }}
{% endif %}

  redis-{{ project_name }}:
    image: {{ services.redis.image }}
    ports:
      - "{{ services.redis.external_port }}:{{ services.redis.internal_port }}"
{% if services.redis.data_persistence %}
    volumes:
      - redis_data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf
{% endif %}
{% if network.enabled %}
    networks:
      - {{ network.name }}
{% endif %}

{% if services.db.enabled and not services.db.external %}
  db-{{ project_name }}:
    image: {{ services.db.image }}
    env_file:
      - {{ services.db.env_file }}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "{{ services.db.external_port }}:5432"
{% if network.enabled %}
    networks:
      - {{ network.name }}
{% endif %}
{% endif %}

{% if frontend.enabled %}
  frontend-{{ project_name }}:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "{{ frontend.external_port }}:{{ frontend.internal_port }}"
    depends_on:
      - {{ project_name }}
{% if network.enabled %}
    networks:
      - {{ network.name }}
{% endif %}
{% endif %}

{% if services.db.enabled and not services.db.external or services.redis.data_persistence %}
volumes:
{% if services.db.enabled and not services.db.external %}
  postgres_data:
{% endif %}
{% if services.redis.data_persistence %}
  redis_data:
{% endif %}
{% endif %}

{% if network.enabled %}
networks:
  {{ network.name }}:
    {% if network.external is defined and network.external %}
    external: true
    {% else %}
    driver: bridge
    {% endif %}
{% endif %}